AtomicCards.json
AllPrintings.json
CardTypes.json
/textdetector/AtomicCards-old.json
/textdetector/AtomicCards-new.json 
/textdetector/box_images_archive
/textdetector/box_images_rotational_list_small
/textdetector/box_images/
/textdetector/Rec.jpg
/textdetector/Rec2.jpg
/textdetector/Rec3.jpg
/textdetector/output.png
*.json
/TCG_MultiScan/backend/.venv/
/TCG_MultiScan/backend/__pycache__/
*/.venv/
*.jpg

