
AtomicCards.json
AllPrintings.json
CardTypes.json
/textdetector/AtomicCards-old.json
/textdetector/AtomicCards-new.json 
/textdetector/box_images_archive
/textdetector/box_images_rotational_list_small
/textdetector/box_images/
*.json
/TCG_MultiScan/backend/.venv/
/TCG_MultiScan/backend/__pycache__/

